/* .App{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
}

.singleShow{
  position: relative;
  z-index: 1;
  color: #eed5b4;
  top: 0;
  left: 0;
  min-width: 100vw;
}

.overlay{
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.5);
  position: relative;
  z-index: 2;
  top: 0;
  left: 0;
}

.showInfo{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 3;
  width: 90%;
  margin: auto;
}

.showManageBtns{
  position: absolute;
  bottom: 0;
  z-index: 3;
  width: 90%;
  text-align: center;
  left: 0;
  right: 0;
  margin: auto;
}

header, header a, footer{
  background-color: #081c24;
  color: #01d277;
}

ul{
  margin: 0;
  padding: 0;
}

h1, h2{
  margin: 0;
  padding: .5em 0;
}

nav ul li{
  display: inline-block;
  padding: .5em 1em;
  border: 1px solid #01d277;
  margin: 0 1em;
}

nav a{
  text-decoration: none;
}

nav{
  padding: .5em 0;
}

header, footer{
  text-align: center;
  padding: 2em 0;
}

footer img{
  width: 10%;
}

main, .profile{
  overflow: hidden;
  margin: 0 auto;
  text-align: center;
}

.searchResults .searchResult, .profile article{
  float: left;
  padding-bottom: 1em;
  width: 20%;
}

.searchResults img, .profile img{
  height: 270px;
}

footer{
  clear: both;
}

.singleShow{
  height: 75vh;
}

footer p{
  margin-bottom: 0;
}

.loginForm, .registerForm, .home form{
  width: 90%;
  margin: 0 auto;
  text-align: center;
  margin-top: 2em;
}

.loginForm input, .registerForm input, .home input{
  width: 50%;
  border: 2px solid #081c24;
  color: #081c24;
  margin-bottom: 2em;
  padding: 1em;
}

.loginForm input[type='submit'], .registerForm input[type='submit'], .home input[type='submit']{
  background-color: #081c24;
  color: #01d277;
}

input:focus{
  outline: none;
}

main{
  display: flex;
  flex: 1;
  min-height: 75vh;
  justify-content: center;
  align-items: center;
}

header{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 15vh;
  flex-direction: column;
}

.home{
  flex-direction: column;
}

.profile{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.profileItems{
  display: flex;
  justify-content: space-around;
  min-width: 85vw;
} */